<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galerie d'Art Interactive</title>
</head>
<body>
    <h1>Bienvenue dans la galerie d'art interactive!</h1>
    
    <!-- Liens vers les différentes sections -->
    <p><a href="{{ url_for('generate_art') }}">Générer une œuvre d'art</a></p>
    <p><a href="{{ url_for('manipulate_image') }}">Manipuler une image</a></p>
    <p><a href="{{ url_for('manipulate_audio') }}">Manipuler un fichier audio</a></p>

</body>
</html>
