<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload Image</title>
</head>
<body>
    <h1>Upload une image et applique un filtre</h1>
    <form method="post" enctype="multipart/form-data">
        <input type="file" name="image" accept="image/*">
        <button type="submit">Upload</button>
    </form>
    {% if image %}
    <h2>Image après manipulation</h2>
    <img src="{{ url_for('static', filename='uploaded_images/' + image) }}" alt="Manipulated Image">
    {% endif %}
</body>
</html>
